@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/side-drawar.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (HttpContextAccessor.HttpContext.Session.Keys.Contains("user"))
                {
                <button class="btn btn-secondary mr-2" type="button" onclick="openSideDrawer()">
                    Menu
                </button>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div id="side-drawer" class="position-fixed">
        <div class="h-100 bg-white">
            <div class="p-4 ">
               <h4 class="display-4">Mail Service</h4>
            </div>
            <ul class="list-group" onclick="closeSideDrawer()">
                <a href="/Mail/Compose" class="list-group-item list-group-item-action border-0 rounded-0">Compose</a>
                <a href="/Mail/Inbox" class="list-group-item list-group-item-action border-0 rounded-0">Inbox</a>
                <a href="/Mail/SentEmails" class="list-group-item list-group-item-action border-0 rounded-0">Sent Emails</a>
            </ul>
        </div>
    </div>
    <div id="side-drawer-void" class="position-fixed d-none" onclick="closeSideDrawer()"></div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="text-center">&copy; EAD - Mail Service Project - Talha Munir - BSEF19M520</div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/side-drawar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
